@font-face {
  font-family: 'karnakcondensed';
  src: local('karnakcondensed'), url(./fonts/karnakcondensed-normal-700.woff) format('woff');
}
:root {
  --font-logo: 'karnakcondensed';
  --font-base: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
